<button class="btn btn-success" (click)="login()">Login</button>
<button class="btn btn-danger" (click)="logout()">Logout</button>


<h2 *ngIf="isLogged"> The user is logged</h2>
<h2 *ngIf="!isLogged"> Need to login</h2>


<router-outlet></router-outlet>
